@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200&display=swap');

body {
  margin: 0;
  font-family: 'Anek Latin', sans-serif;
  background-color: rgb(105, 192, 243);
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1 {
  font-size: 3rem;
  text-transform: capitalize;
}
h2 {
  font-size: 2rem;
  text-transform: capitalize;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

.container {
  text-align: center;
  margin: 0 auto;
  margin-top: 15%;
  border-radius: 2rem;
  background: #ffffffd0;
  width: 400px;

}


.btn {
  display: inline-block;
  background: white;
  color: var(--clr-white);
  padding: 0.25rem 0.75rem;
  border-color: black;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: var(--spacing);
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.btn:hover {
  color: grey;

}
